<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} {{ flatpage.title }} {% endblock title %}</title>
    </head>
    <body>
        <a href="/">Главная страница</a>
            {% if user.is_authenticated %}
                <a href="/accounts/logout/">| Выход</a>
                <a href="/user/">| Страница пользователя {{request.user.username}}</a>
            {% else %}
                <a href="/accounts/login/">| Вход</a>
                <a href="/register/">| Регистрация</a>
            {% endif %}
        <hr>
        <div>
            {% block content %}
            {{ flatpage.content }}
            {% endblock content %}
        </div>
            <hr>
            (с) 2023
    </body>
</html>
